.zone{
    position: absolute;
    top: 300px; /* Adjust as needed */
    left: 300px;
    height: 300px;
    width: 150px;
}

#button2{
    margin-right: 5px;
}

#quitButton{
    margin-right: 5px;
}