
.zone{
    position: absolute;
    top: 300px; /* Adjust as needed */
    left: 300px;
    height: 300px;
    width: 150px;
}
button {
    background: transparent;
    border: none;
}
.zones{
    height: 200px;
    width: auto;
    padding: 10px;
}
.hand{
    position:absolute;
    height: 200px;
    width: auto;
    padding: 10px;
    top:700px;
    left: 0px;
}
.penis{
    position:absolute;
    height: 240px;
    width: auto;
    padding: 10px;
    top:700px;
    right: 400px;
}
.fartPoo{
    position: absolute;
    right:440px;
    top:100px;
}
.pooFart{
    z-index: 2;
    position: absolute;
    right:440px;
    top: 400px;
}
.A{
    position: absolute;
    top: 100px;
}
.B{
    position: absolute;
    top:400px;
}
.column1{
    left: 500px;
}
.column2{
    left: 650px;
}

.column3{
    left: 800px;
}

.column4{
    left: 950px;
}
.column5{
    left: 1100px;
}
.column6{
    left: 1250px;
}
.column7{
    left: 1400px;
}

.column1H{
    left: 350px;
}
.column2H{
    left: 500px;
}

.column3H{
    left: 650px;
}

.column4H{
    left: 800px;
}
.column5H{
    left: 950px;
}
.column6H{
    left: 1100px;
}
.column7H{
    left: 1250px;
}
.statIcon{
    height: 75px;
    width: auto;
}
.wiener{
    position: absolute;
    height: 100px;
    left: 650px;
    width: auto;
    z-index: 2;
    top: 0px;
}
#playerHealth{
    position: absolute;
    z-index: 2;
    left: 45px;
    top: 170px;
    color: white;
    font-size: xx-large;
}
#playerEmeralds{
    position: absolute;
    z-index: 2;
    left: 130px;
    top: 147px;
    color: black;
    font-size: xx-large;
}
#enemyHealth{
    position: absolute;
    z-index: 3;
    left: 895px;
    top: 20px;
    color: white;
    font-size: xx-large;

}
.toolTip {
    display: inline-block;
}
/* Tooltip text */
.toolTip .toolTipText {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 3;
}

/* Show the tooltip text when you mouse over the tooltip container */
.toolTip:hover .toolTipText {
    visibility: visible;
}

#quitButton{
    margin-right: 5px;
}

