#goToShopButton{
    position: relative;
    margin-top: 30px;
    margin-right: -118px;
}

#signOutButton{
    position: relative;
    margin-right: -50px;
    margin-top: 30px;
    width: 200px;
}

#homeBackground{
    position: absolute;
    height: 97vh;
    width: 100vw;
    z-index: -1;
    margin:auto;
}