

#loginBackground{
    position: absolute;
    height:auto;
    width: 100vw;
    z-index: 0;
    margin: 0px;
}


.logo{
    position: absolute;
    width: 650px;
    height: auto;
    margin-left: 35vw;
    margin-top:40px;
    z-index: 1; //the duck deckers logo
}
.splash-text{
    position: absolute;
    width: 450px;
    font-size: large;
    font-family: "Cooper Black";
    font-style: italic;
    height: auto;
    margin-left: 50vw;
    margin-top:40px;
    z-index: 2;
}

#emailInput{
    position: absolute;
    width: 300px;
    margin-left: 50vw;
    margin-top: 600px;
}
#passwordInput{
    position: absolute;
    margin-left: 50vw;
    margin-top:370px;
    width: 300px;
    height: auto;
    z-index: 1;
}
.loginButton{
    position: absolute;
    margin-left: 50vw;
    margin-top:410px;
    width: 300px;
    height: auto;
    z-index: 1;
}
.signUpButton{
    position: absolute;
    margin-left: 50vw;
    margin-top:450px;
    width: 300px;
    height: auto;
    z-index: 1;
}
